<html>
 <head>
  <meta charset="utf-8" />
  <title></title>
  <style>
   .Title{display: flex;align-items: center;justify-content: center;height: 100px;width: 100%;}
   h1{align-items: center;justify-content: center}
    table {font-family: monospace;white-space: pre;border: 1px solid grey;} 
    th {text-align: start;border: 1px solid grey;}
    td {border: 1px solid grey;} 
  </style>
 </head>
 <body>
  <div class="Title">
      <h1>API</h1>
  </div>
  <table>
    <tr><th>адрес</th><th>тип запроса</th><th>параметр</th><th>результат</th><th>описание</th><th>Требуется авторизация?</th></tr>
    <% mas.forEach(function(item){ %> 
<tr>
<th><%=item.url%>
</th>
<th><%=item.type%>
</th>
<th><%=item.param%>
</th>
<th><%=item.result%>
</th>
<th><%=item.description%>
</th>
<th><%=item.singIn%>
</th>
</tr>
    <%})%>
    </table>
 <pre>
     Пример структуры!
{
    _id: mongoose.Schema.Types.ObjectId,
    status: {
        type: Boolean,
        default: () => true,
    },
    name:{
        type:String
    },
    mainPhoto: {
        type: String,
        default: "/files//name.jpg"
    },
    miniInfo: {
        type: String,
        default: () => ""
    },
    title: {
        type: String,
        default: () => "Биография"
    },
    text: {
        type: Array,
    },
    media: {
        img: [{
            id: Number,
            value: String
        }],
        video: [{
            id: Number,
            value: String
        }]
    },
}
 </pre>
 </body>
</html>